<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper" align="center">
      <div class="footer-col">
        <ul class="contact-list">
          -
          <li>Contact 联系</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://instagram.com/kylegraycar/">Instagram</a></li>
          <li><a href="https://www.flickr.com/photos/136459740@N03">flickr</a></li>
          <li><a href="https://github.com/kylegraycar">GitHub</a></li>
          <br><br><br>
          <p class="text" id="copyright">{{ site.description }}</p>
        </ul>
      </div>
    </div>
  </div>

  </div>

</footer>
