/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 0px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    z-index: 300;
}

.site-title {
    color: black;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &:hover {
        color: $grey-color-dark;
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        text-decoration: none;
        font-weight: bold;
        color: $text-color;
        line-height: $base-line-height;
        border: 1px solid #fff;
        padding: 10px;
        padding-top: 10px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
  /* ...and now for the proper property */
        transition:.5s;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 0px;
        }

        &:hover {
            font-weight: bold;
            border: 1px solid $grey-color-dark;
            background: $grey-color-dark;
            color: #fff;
            border-radius: 4px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 0px solid $grey-color-light;
    padding: $spacing-unit 0;
    margin-top: 20px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin: auto;
    width: 90%;
    @extend %clearfix;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
    margin: auto;
    width: 100%; 
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

#copyright {
    color: $grey-color-light
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    margin: auto;
    width: 95%;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }

        margin-bottom: 0px;
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

/**
 * Resume
 */
#resume-mid-content {
        margin-bottom: 0px;
    }

.resume {
        margin-bottom: 0px;
    }
}

/**
 * Mailing List
 */
#mc_embed_signup{
    text-align: center;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#mce-EMAIL {
    -webkit-appearance:none;
    background-color:#fff;
    border-left:0px solid #fff;
    border-right:0px solid #fff;
    border-top:0px solid #fff;
    border-bottom:1px solid #000;
    color: $grey-color;
    text-decoration: none;
    font-family: $base-font-family;
    font-size: 15px;
}

#mc-embedded-subscribe {
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 30, 18, 0.79);
    line-height: 1.5;
    border: 1px solid #fff;
    background: #fff;
    margin: 10px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; 
    font-size: 18px;

    &:hover {
            font-weight: bold;
            border: 1px solid $red-color;
            background: $red-color;
            color: #fff;
            border-radius: 4px;
        }
}

.rss-subscribe {
    margin-bottom: 0px;
}

/**
 * Instagram Plugin
 */
.ig-base {
    border-top: 0px solid #d8dfea;
}

 .ig-badge {
    display: none;
 }

 .ig-badge-name {
    border-top: 0px solid #d8dfea;
    width: 100%;
 }

 .ig-badge-name a {
    font-family: $base-font-family;
 }

/**
 * Top of Page Button
 */
 .top-of-page {
    text-align: center;
    margin-top: 60px;
}

.toplink {
    color: $red-color-light;
    border: 1px solid $red-color-light;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;

    &:visited {
        color: $red-color-light;
    }

    &:hover {
        text-decoration: none;
        border-color: $red-color;
        color: $red-color;
    }
}

 /**
 * Share Buttons for Posts
 */
.social-media-share {
    margin: auto;
    margin-top: 80px;
    width: 50%;
}

#share-icon {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    width: 30px;
}

#social-media-table {
    border-top: 1px solid #000;
    padding-top: 10px;
}

.fb_iframe_widget {
    margin-bottom: 12px;
}

 /**
 * Comments Plugin for Posts
 */
 #commentit {
    margin-top: 40px;
 }

 button#submit {
    padding: 5px;
 }

 .text-muted {
    margin-bottom: 0px;
    display: inline-block;
 }

 .comments-authorphoto {
    float: left;
    margin-right: 20px;
    padding-top: 4px;
 }
 