---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

<div class="social-media-share">
	<img id="share-icon" src="{{ kylegraycar.url }}/assets/share.png"/>
	<table id="social-media-table" align="center">
		<tr>
			<td>
			<p id="facebook-share">f</p>
			</td>
			<td>
			<p id="twitter-share">t</p>
			</td>			
		</tr>
	</table>
</div>

</div>
